geopy==2.4.1
langchain==0.3.18
langchain_community==0.3.17
langchain_openai==0.3.5
langgraph==0.2.72
leafmap==0.42.9
numpy==2.2.2
pandas==2.2.3
pyproj==3.6.1
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==2.0.37
streamlit==1.41.1
streamlit_folium==0.24.0
supabase==2.13.0
tqdm==4.67.1
typing_extensions==4.12.2
